table{
    font-size: 18px;
    margin: 1em;
}

#about{
    background-color: #191F58;
}

#features{
    background-color: #457314;
}

#quickstart{
    background-color: #6F1335;
}

.content-section pre{
    max-width: 800px;
    margin: 0 auto 2em auto;
}

#latest-post{
    background-color: #7F6316;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0px;
}

#features [class*="flaticon-"]:before{
    font-size: 6em;
    margin: 0;
    padding: 16px;
    border-radius: 100%;
    background: #f1e767;
    background: -moz-linear-gradient(-45deg,  #f1e767 10%, #f2af40 100%);
    background: -webkit-linear-gradient(-45deg,  #f1e767 10%,#f2af40 100%);
    background: linear-gradient(135deg,  #f1e767 10%,#f2af40 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f2af40',GradientType=1 );
    color: rgba(255,255,255,0.8);
    border: 2px solid white;
}

#features h3{
    margin-top: 1em;
}

.nanoflux-in-text sup{
    margin: 0;
    font-size: 100%;
}

.nanoflux-in-text sup::before{
    font-size: 50%;
}

#post.container.content-section{
    padding-bottom: 0;
}

.intro .intro-body .brand-heading {
    font-size: 8vw;
    opacity: 0.5;
    cursor: pointer;
    text-transform: lowercase;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

@media (max-width: 768px){
    .intro .intro-body .intro-text{
        font-size: 16px;
    }
}

#spin-molecule{
    width: 4vw;
    vertical-align: super;
    -webkit-animation:spin 40s linear infinite;
    -moz-animation:spin 40s linear infinite;
    animation:spin 40s linear infinite;
}

@-moz-keyframes spin { 100% {
    -moz-transform: rotate(360deg);
} }
@-webkit-keyframes spin { 100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin { 100% {
    transform:rotate(360deg); } }